/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Header styles */
header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form label {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

form input[type="file"] {
  margin-bottom: 1rem;
}

form input[type="submit"] {
  background-color: #222;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
}

#file {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: 2px 2px 0 #666;
  transition: all 0.2s ease-in-out;
}

#file:hover {
  box-shadow: 4px 4px 0 #666;
  transform: translate(-2px, -2px);
}

#obj-val {
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: monospace;
  font-size: 0.9rem;
  white-space: pre-wrap;
  line-height: 1.5;
  overflow-x: auto;
  text-align: center;
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
  color: #222;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:hover {
  background-color: #e6e6e6;
}

/* Pagination styles */
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

#pagination button:hover {
  background-color: #ffffff;
  color: #000000;
}
