/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}

/* Header styles */
header {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e4e8;
  padding: 1rem;
  text-align: center;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form label {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

form input[type="file"] {
  margin-bottom: 1rem;
}

form input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  cursor: pointer;
}


#result {
  margin-top: 2rem;
  background-color: #f5f7fa;
  border: 1px solid #e1e4e8;
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: monospace;
  font-size: 0.9rem;
  white-space: pre-wrap;
  line-height: 1.5;
  overflow-x: auto;
  text-align: center; /* added to center the content */
}

/* Table styles */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  background-color: #ffffff;
  border: 1px solid #e1e4e8;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #e1e4e8;
}

th {
  background-color: #f5f7fa;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-top: 1px solid #e1e4e8;
}

td {
  font-size: 0.9rem;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

tbody tr:hover {
  background-color: #e9ecef;
}
